/* .classdescripcion {
    animation-name: mostrar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes mostrar {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(300px);
    }
  } */

  .classdescripcion2 {
    animation-name: mostrar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-color:rgba(0, 0, 0, 0.6);
  }
  
  @keyframes mostrar {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-1%);
    }
  }

  
    /* scrollbar.css */
.barrascroll {
  scrollbar-width: thin;
  scrollbar-color: gray lightgray;
}

.barrascroll::-webkit-scrollbar {
  width: 4px;
}

.barrascroll::-webkit-scrollbar-thumb {
  background-color:  lightgray;
  border-radius: 4px;
}

.barrascroll::-webkit-scrollbar-thumb:hover {
  background-color:  transparent;
}

.barrascroll::-webkit-scrollbar-track {
  background-color:transparent;
}

  